In [1]:
import pandas as pd
import seaborn as sns

%matplotlib inline

In [2]:
train = pd.read_csv(
    '~/Kaggle/walmart/train.csv',
    dtype={'TripType': str},
)

In [3]:
scan_count = train.groupby(['TripType', 'VisitNumber'])['ScanCount'].sum()
scan_count[scan_count < 0].reset_index()

     TripType  VisitNumber  ScanCount
0          22         5546         -1
1          35        80542         -2
2          38       136530         -1
3         999            5         -1
4         999          182         -1
5         999          190         -1
6         999          253         -1
7         999          261         -1
8         999          281         -1
9         999          317         -1
10        999          400         -1
11        999          403         -1
12        999          407         -1
13        999          409         -1
14        999          437         -1
15        999          484         -4
16        999          574         -2
17        999          583         -1
18        999          650         -1
19        999          661         -1
20        999          684         -1
21        999          693         -1
22        999          754         -1
23        999          773         -1
24        999          829         -2
25        999          882         -1
26        999          904         -1
27        999          928         -2
28        999          936         -1
29        999          973         -1
...       ...          ...        ...
4365      999       189380         -2
4366      999       189392         -1
4367      999       189456         -1
4368      999       189463         -1
4369      999       189513         -2
4370      999       189537         -1
4371      999       189622         -1
4372      999       189644         -1
4373      999       189671         -2
4374      999       189704         -1
4375      999       189712         -2
4376      999       189755         -3
4377      999       189784         -1
4378      999       189794         -1
4379      999       189828         -1
4380      999       189918         -1
4381      999       190053         -1
4382      999       190114         -1
4383      999       190272         -1
4384      999       190292         -4
4385      999       190391         -2
4386      999       190410         -2
4387      999       190485         -1
4388      999       190502         -3
4389      999       190624         -1
4390      999       190643         -1
4391      999       190790         -1
4392      999       190811         -1
4393      999       190843         -1
4394      999       190930         -1

[4395 rows x 3 columns]

In [4]:
scan_count.reset_index().sort_values('VisitNumber').reset_index(drop=True)

      TripType  VisitNumber  ScanCount
0          999            5         -1
1           30            7          2
2           26            8         28
3            8            9          3
4            8           10          3
5           35           11          4
6           41           12          7
7           21           15          9
8            6           17          4
9           42           19          9
10           7           20          3
11           9           23          2
12           8           25          3
13          39           26         12
14          25           28          8
15           8           29          1
16           9           30          1
17           8           31          2
18           8           32          1
19           8           33          3
20           8           40          3
21           8           41          3
22           8           42          1
23          38           43          4
24           8           45          4
25          35           47          5
26          15           49          5
27           9           50          1
28           8           51          2
29           8           53          1
...        ...          ...        ...
95644       21       191276          4
95645       44       191277         21
95646        8       191280          3
95647       44       191283         10
95648       40       191286         27
95649       26       191287          4
95650        8       191289          1
95651        8       191291          2
95652       36       191293         24
95653       40       191298         22
95654       42       191301          9
95655       36       191304          6
95656       31       191305          1
95657        9       191311          2
95658       42       191312         22
95659       30       191313          4
95660        7       191318          7
95661       38       191322         15
95662       40       191324         22
95663       38       191326         11
95664       24       191329         20
95665        9       191331          1
95666       32       191335          9
95667       38       191337         27
95668        8       191342          2
95669       25       191343          9
95670       22       191344          5
95671       39       191345         17
95672       39       191346         17
95673        8       191347          2

[95674 rows x 3 columns]