In [1]:
import numpy as np
import pandas as pd

In [2]:
train = pd.read_csv('~/Kaggle/walmart/train.csv', dtype={'Upc': str, 'FinelineNumber': str})
train.head()

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
0,999,5,Friday,68113152929,-1,FINANCIAL SERVICES,1000
1,30,7,Friday,60538815980,1,SHOES,8931
2,30,7,Friday,7410811099,1,PERSONAL CARE,4504
3,26,8,Friday,2238403510,2,PAINT AND ACCESSORIES,3565
4,26,8,Friday,2006613744,2,PAINT AND ACCESSORIES,1017

In [3]:
len(train)

647054

In [4]:
train['TripType'].value_counts().head()

40    174164
39     95504
37     38954
38     29565
25     27609
dtype: int64

In [5]:
train['VisitNumber'].value_counts().head()

72439    209
88011    151
9181     113
60971    112
65792    111
dtype: int64

In [6]:
scan_count = train.groupby(['TripType', 'VisitNumber'])['ScanCount'].sum()
scan_count[scan_count < 0].head()

TripType  VisitNumber
22        5546          -1
35        80542         -2
38        136530        -1
999       5             -1
          182           -1
Name: ScanCount, dtype: int64

In [7]:
scan_count = train[train['ScanCount'] < 0].groupby(['TripType', 'VisitNumber'])['ScanCount'].sum()
scan_count.reset_index().groupby('TripType').count().tail()

          VisitNumber  ScanCount
TripType
41                 51         51
42                153        153
43                 47         47
44                118        118
999              6426       6426

In [8]:
train[train['VisitNumber'] == 72439]['TripType'].value_counts()

24    209
dtype: int64

In [9]:
train['Weekday'] = ~train['Weekday'].isin(['Saturday', 'Sunday'])

In [10]:
train.pivot_table(values='ScanCount', index=['TripType'], columns=['Weekday'], aggfunc=sum)

Weekday   False   True
TripType
3          2191    5093
4           377     662
5          4664   10896
6          1488    2466
7          8934   18128
8          7588   15971
9          6176   10848
12         1409    1089
14           20      63
15         3202    5800
18         1499    1924
19          414     865
20         1365    2190
21         1302    3661
22         1654    2258
23          149     170
24         7516   13930
25        11925   17332
26         1026    1931
27         2723    3765
28         1125    1847
29         1018    1297
30         2172    3043
31          657    1200
32         6101   10369
33         4017    7452
34         2356    3638
35         5276   10595
36         8887   15625
37        17558   25849
38        12465   22310
39        40112   66272
40        92615  112691
41         2754    3295
42         9040   12687
43         2597    4405
44         9841   13450
999        -905    -871

In [11]:
train.groupby('Upc')['ScanCount'].sum().sort(ascending=False, inplace=False).head()

Upc
4011           7974
60538862097    2487
7874235186     2408
7874235187     2256
68113107862    2035
Name: ScanCount, dtype: int64

In [12]:
train[train['Upc'] == '4011']

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
28,8,9,True,4011,1,PRODUCE,5501
66,9,23,True,4011,1,PRODUCE,5501
77,39,26,True,4011,1,PRODUCE,5501
111,15,49,True,4011,1,PRODUCE,5501
198,37,86,True,4011,1,PRODUCE,5501
207,8,93,True,4011,1,PRODUCE,5501
268,8,103,True,4011,1,PRODUCE,5501
370,21,185,True,4011,1,PRODUCE,5501
663,7,302,True,4011,1,PRODUCE,5501
681,8,313,True,4011,1,PRODUCE,5501
738,39,341,True,4011,1,PRODUCE,5501
786,40,358,True,4011,1,PRODUCE,5501
885,38,385,True,4011,2,PRODUCE,5501
933,37,397,True,4011,1,PRODUCE,5501
1110,27,475,True,4011,1,PRODUCE,5501
1641,31,724,True,4011,1,PRODUCE,5501
1705,39,729,True,4011,1,PRODUCE,5501
1881,8,819,True,4011,1,PRODUCE,5501
1933,31,848,True,4011,1,PRODUCE,5501
1958,5,863,True,4011,1,PRODUCE,5501
2120,9,938,True,4011,1,PRODUCE,5501
2236,40,990,True,4011,1,PRODUCE,5501
2272,40,1003,True,4011,3,PRODUCE,5501
2439,39,1046,True,4011,1,PRODUCE,5501
2452,39,1048,True,4011,1,PRODUCE,5501
2533,40,1071,True,4011,1,PRODUCE,5501
2575,8,1080,True,4011,1,PRODUCE,5501
2587,39,1081,True,4011,1,PRODUCE,5501
2771,7,1142,True,4011,1,PRODUCE,5501
2797,39,1163,True,4011,1,PRODUCE,5501
...,...,...,...,...,...,...,...
645408,40,190961,False,4011,1,PRODUCE,5501
645465,7,190963,False,4011,1,PRODUCE,5501
645474,44,190965,False,4011,1,PRODUCE,5501
645534,37,190981,False,4011,1,PRODUCE,5501
645566,40,190986,False,4011,1,PRODUCE,5501
645601,8,190992,False,4011,1,PRODUCE,5501
645681,40,191014,False,4011,1,PRODUCE,5501
645717,38,191023,False,4011,1,PRODUCE,5501
645819,37,191050,False,4011,1,PRODUCE,5501
645832,8,191056,False,4011,1,PRODUCE,5501
645853,40,191064,False,4011,1,PRODUCE,5501
645928,40,191067,False,4011,1,PRODUCE,5501
646022,40,191082,False,4011,1,PRODUCE,5501
646086,39,191103,False,4011,1,PRODUCE,5501
646251,38,191133,False,4011,1,PRODUCE,5501
646345,37,191163,False,4011,1,PRODUCE,5501
646393,37,191170,False,4011,1,PRODUCE,5501
646420,24,191177,False,4011,1,PRODUCE,5501
646468,30,191178,False,4011,1,PRODUCE,5501
646479,37,191181,False,4011,1,PRODUCE,5501
646486,8,191184,False,4011,1,PRODUCE,5501
646497,40,191185,False,4011,1,PRODUCE,5501
646584,39,191218,False,4011,1,PRODUCE,5501
646631,30,191234,False,4011,1,PRODUCE,5501
646635,26,191237,False,4011,1,PRODUCE,5501
646644,36,191239,False,4011,1,PRODUCE,5501
646817,8,191291,False,4011,1,PRODUCE,5501
646851,40,191298,False,4011,1,PRODUCE,5501
646911,38,191322,False,4011,1,PRODUCE,5501
646941,38,191326,False,4011,1,PRODUCE,5501

In [13]:
train['ScanCount'].value_counts().head()

 1    561489
 2     53002
-1     14394
 3      9445
 4      4536
dtype: int64

In [14]:
train[train['ScanCount'] < 0].groupby('TripType')['ScanCount'].sum().sort(inplace=False).head()

TripType
999   -10708
40     -1232
39      -848
37      -360
25      -342
Name: ScanCount, dtype: int64

In [15]:
train.groupby('DepartmentDescription')['ScanCount'].sum().sort(ascending=False, inplace=False).head()

DepartmentDescription
GROCERY DRY GOODS    88718
DSD GROCERY          79814
PRODUCE              52813
DAIRY                50550
PERSONAL CARE        44819
Name: ScanCount, dtype: int64

In [16]:
train[['DepartmentDescription', 'FinelineNumber']].drop_duplicates().groupby('FinelineNumber')['DepartmentDescription'].count().sort(ascending=False, inplace=False).head()

FinelineNumber
9379    12
4010    12
1201    11
801     11
5       11
Name: DepartmentDescription, dtype: int64

In [17]:
train[train['FinelineNumber'] == '9379']

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
660,999,295,True,1019906311,1,OFFICE SUPPLIES,9379
3633,36,1429,True,49999114420,1,FABRICS AND CRAFTS,9379
20958,999,6667,False,79148910493,1,AUTOMOTIVE,9379
90765,40,25732,True,3114602398,1,GROCERY DRY GOODS,9379
98528,999,28539,True,5074363553,1,TOYS,9379
111610,25,32845,True,2392230190,-1,TOYS,9379
111611,25,32845,True,2392230190,1,TOYS,9379
140754,22,42458,True,5074363553,1,TOYS,9379
142474,9,42922,True,73139845329,-1,ELECTRONICS,9379
142475,9,42922,True,73139845329,1,ELECTRONICS,9379
144207,21,43447,True,61037396362,1,TOYS,9379
164507,40,49988,False,75116660306,2,AUTOMOTIVE,9379
248717,999,73638,True,4850000174,-1,DSD GROCERY,9379
256763,999,76233,True,87458604096,2,IMPULSE MERCHANDISE,9379
352776,999,104272,False,80131084194,-1,TOYS,9379
396393,32,117088,True,1500083106,2,INFANT CONSUMABLE HARDLINES,9379
396394,32,117088,True,1500083106,-1,INFANT CONSUMABLE HARDLINES,9379
403796,999,119373,True,88727656671,1,ELECTRONICS,9379
418874,999,124267,True,1034387620,-1,ELECTRONICS,9379
420202,39,124640,True,1019915001,1,OFFICE SUPPLIES,9379
455793,44,136041,True,67772640180,1,INFANT CONSUMABLE HARDLINES,9379
455794,44,136041,True,67772640180,1,INFANT CONSUMABLE HARDLINES,9379
455795,44,136041,True,67772640180,-1,INFANT CONSUMABLE HARDLINES,9379
461875,20,137834,False,75116660306,1,AUTOMOTIVE,9379
496753,43,147277,False,88796101684,1,TOYS,9379
497677,19,147557,False,84844701024,-1,ELECTRONICS,9379
497678,19,147557,False,84844701024,1,ELECTRONICS,9379
507320,999,150147,True,5320007274,-1,HOUSEHOLD CHEMICALS/SUPP,9379
533930,23,158224,True,4787587268,1,PLAYERS AND ELECTRONICS,9379
545383,999,161737,True,7920041283,3,"CANDY, TOBACCO, COOKIES",9379
545384,999,161737,True,7920041283,-3,"CANDY, TOBACCO, COOKIES",9379
549415,999,163166,True,81647901185,-1,INFANT CONSUMABLE HARDLINES,9379
610871,999,182052,False,7092047491,-1,OFFICE SUPPLIES,9379
610880,999,182052,False,5000080004,-1,DSD GROCERY,9379